<div id="<%= dom_id application_doc %>">
  <p>
    <strong>Title:</strong>
    <%= application_doc.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= application_doc.description %>
  </p>

  <p>
    <strong>Base url:</strong>
    <%= application_doc.base_url %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= application_doc.tags %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= application_doc.is_active %>
  </p>

  <p>
    <strong>Docs:</strong>
    <%= application_doc.docs %>
  </p>

  <p>
    <strong>Auth fields:</strong>
    <%= application_doc.auth_fields %>
  </p>

</div>
