<div id="<%= dom_id application_credential_proxy_log %>">
  <p>
    <strong>Application doc:</strong>
    <%= application_credential_proxy_log.application_doc_id %>
  </p>

  <p>
    <strong>Application credential:</strong>
    <%= application_credential_proxy_log.application_credential_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= application_credential_proxy_log.user_id %>
  </p>

  <p>
    <strong>Request data:</strong>
    <%= application_credential_proxy_log.request_data %>
  </p>

  <p>
    <strong>Response data:</strong>
    <%= application_credential_proxy_log.response_data %>
  </p>

  <p>
    <strong>Requested at:</strong>
    <%= application_credential_proxy_log.requested_at %>
  </p>

  <p>
    <strong>Finished at:</strong>
    <%= application_credential_proxy_log.finished_at %>
  </p>

  <p>
    <strong>Credits used:</strong>
    <%= application_credential_proxy_log.credits_used %>
  </p>

  <p>
    <strong>Duration ms:</strong>
    <%= application_credential_proxy_log.duration_ms %>
  </p>

</div>
