<div id="<%= dom_id api_log %>">
  <p>
    <strong>Method:</strong>
    <%= api_log.method %>
  </p>

  <p>
    <strong>Target url:</strong>
    <%= api_log.target_url %>
  </p>

  <p>
    <strong>Request:</strong>
    <%= api_log.request %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= api_log.response %>
  </p>

</div>
