<div id="<%= dom_id db_scrapper %>">
  <p>
    <strong>User:</strong>
    <%= db_scrapper.user_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= db_scrapper.project_id %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= db_scrapper.url %>
  </p>

  <p>
    <strong>Meta data:</strong>
    <%= db_scrapper.meta_data %>
  </p>

  <p>
    <strong>Source provider:</strong>
    <%= db_scrapper.source_provider %>
  </p>

  <p>
    <strong>Sub type:</strong>
    <%= db_scrapper.sub_type %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= db_scrapper.response %>
  </p>

  <p>
    <strong>Fildered response:</strong>
    <%= db_scrapper.fildered_response %>
  </p>

  <p>
    <strong>Parser code:</strong>
    <%= db_scrapper.parser_code %>
  </p>

  <p>
    <strong>Final response:</strong>
    <%= db_scrapper.final_response %>
  </p>

  <p>
    <strong>Knowledge storage cypher code:</strong>
    <%= db_scrapper.knowledge_storage_cypher_code %>
  </p>

</div>
