<div id="<%= dom_id application_doc_request %>">
  <p>
    <strong>Application doc:</strong>
    <%= application_doc_request.application_doc_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= application_doc_request.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= application_doc_request.description %>
  </p>

  <p>
    <strong>Curl template:</strong>
    <%= application_doc_request.curl_template %>
  </p>

  <p>
    <strong>Swagger data:</strong>
    <%= application_doc_request.swagger_data %>
  </p>

</div>
