<div id="<%= dom_id knowledge_queryfier %>">
  <p>
    <strong>User:</strong>
    <%= knowledge_queryfier.user_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= knowledge_queryfier.project_id %>
  </p>

  <p>
    <strong>Cypher dynamic query:</strong>
    <%= knowledge_queryfier.cypher_dynamic_query %>
  </p>

  <p>
    <strong>Meta data swagger docs:</strong>
    <%= knowledge_queryfier.meta_data_swagger_docs %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= knowledge_queryfier.tags %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= knowledge_queryfier.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= knowledge_queryfier.description %>
  </p>

</div>
