<div id="<%= dom_id application_credential %>">
  <p>
    <strong>Application doc:</strong>
    <%= application_credential.application_doc_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= application_credential.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= application_credential.description %>
  </p>

  <p>
    <strong>Credential type:</strong>
    <%= application_credential.credential_type %>
  </p>

  <p>
    <strong>Rate limits:</strong>
    <%= application_credential.rate_limits %>
  </p>

  <p>
    <strong>Settings:</strong>
    <%= application_credential.settings %>
  </p>

  <p>
    <strong>Auth data:</strong>
    <%= application_credential.auth_data %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= application_credential.is_active %>
  </p>

</div>
