<div id="<%= dom_id user_credit %>">
  <p>
    <strong>User:</strong>
    <%= user_credit.user_id %>
  </p>

  <p>
    <strong>Total credits:</strong>
    <%= user_credit.total_credits %>
  </p>

  <p>
    <strong>Used credits:</strong>
    <%= user_credit.used_credits %>
  </p>

  <p>
    <strong>Current balance:</strong>
    <%= user_credit.current_balance %>
  </p>

</div>
